*{
    box-sizing: border-box;
}
body{
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
    background-color: #E3FCF4;
}

.bordered{
    border: solid black;
}

#contact{
    background-color: rgb(15, 90, 240);
    color: white;
    padding: 5px 15px;
    border-radius: 30px;
    font-weight: 500;
    border: none;
}
#contact:hover{
    background-color: #fff;
    color: #0f5af0;
    border: 1px solid #0f5af0;
    transition: 0.2s linear;
    cursor: pointer;

}
.btn-ham{
    display: none;
}

.offcanvas{
    color: #0f5af0;
    background-color:rgba(187, 222, 255, 0.92);
    width: 300px;
}
#offcanvasRightLabel{
    font-size: 16px;
    padding-top: 7px;
    font-weight: 700;
    color: #2f2f2f;
    font-style: italic;
}
.off-menu{
    font-size: 15px;
    padding: 15px 10px;
}
.dropdown-menu{
    width: 250px;
    height: 150px;
    background-color:#bbdeff;
    border: none;
    box-shadow: 1px 1px 6px black;
}
.dropdown-menu .dropdown-item{
    color: black;
}
.nav-item{
    position: relative;
    padding-bottom: 10px;
}
#drop-xtra{
    width: 200px;
    height:115px;
    background-color:#bbdeff;
    box-shadow: 1px 1px 10px black;
    border: none;
}


#xtra-nav{
    display: none;
}
.nav-item::after{
    content: '';
    display: block;
    border-bottom: 2px solid #0f5af0;
    transform: scaleX(0);
    transform-origin: 0 0;
    transition: 0.4s linear;
}
.nav-item:hover:after{
    transform: scaleX(0.2)
}
/* hero */
.hero{
    display: flex;
    align-items: center;
    height: 600px;
}

.container-hero{
    background-image: url(img/bg-landing.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.container-hero2{
    background-image: url(img/bg-landing3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.container-tag{
    background-image: url(img/bg-landing2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
.container-tag .tagline .container .row .col h1{
    padding-bottom: 64px;
}


/* xtra */
#Xtra-more{
    background-color: rgb(15, 90, 240);
    color: white;
    padding: 5px 15px;
    border-radius: 30px;
    font-weight: 500;
    border: none;
}
#Xtra-more:hover{
    background-color: #fff;
    color: #0f5af0;
    border: 1px solid #0f5af0;
    transition: ease-in-out 0.9s;
    cursor: pointer;
}
.card{
    box-shadow: 2px 2px 6px black;
    border: none;
    border-radius: 20px;
    justify-content: center;
    text-align: center;
    justify-content: center;
    column-gap: 64px;
    margin-bottom: 32px;

}

.card-body  h6{
    font-size: 18px;
    font-weight: 700;
    color: chocolate;
}
.card h5{
    font-weight: 700;
    margin-bottom: 16px;
    color: chocolate;
}
.card-xtra .row{
    display: flex;
    justify-content: center;
    row-gap: 32px;
}
.card-xtra .row .col .card-body{
    border-radius: 30px;
   
}
.card-xtra-item img{
    border-radius: 20px;
}
.section2 h4{
    margin-bottom: 64px;
    font-weight: 700;
    background-color: rgba(255, 228, 118, 0.5);
    border-radius: 30px;
}
.section2 .row{
    margin: 10px;
}
.section3 .row{
    margin: 10px;
    row-gap: 16px;
}
.section3 h4{
    margin-bottom: 64px;
    font-weight: 700;
    background-color: rgba(255, 228, 118, 0.5);
    border-radius: 30px;
}
.card-xtraku{
    display: flex;
    justify-content: center;
    text-align: center;
}
.location{
    margin-bottom: 64px;
}
.location h4{
    margin-top: 32px;
    font-weight: 700;
    background-color: rgba(255, 228, 118, 0.5);
    border-radius: 30px;
}
.location .row{
    margin-top: 64px;
}

.location .row .col h3{
    font-size: 19px;
    text-align: center;
    margin-bottom: 32px;
    font-weight: 600;
}
.location .row .col form label{
    font-weight: 600;
}
.footer .footer-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.footer{
    background-color: #b0b0b0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .footer-item .footer-detail p{
    font-size: 14px;
}
.footer .footer-item .footer-detail h5{
    font-size: 14px;
    font-weight: 700;
}
.kontak h5{
    font-weight: 600;
}

.kontak p{
    font-size: 14px;
}

#footer-xtra p{
    font-size: 14px;
}
.footer .footer-detail-1 p:hover{
    cursor: pointer;
    font-weight: 600;
}
.footer .footer-detail-2 p:hover{
    cursor: pointer;
    font-weight: 600;
}

.container-hero-visi {
    height: 500px;
    padding-bottom:  46rem;
    padding-top: 32px;
    background-image: url(img/bg-landing.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.container-hero-visi .container-item-visimisi img{
    width: 600px;
    
}
.container-hero-visi .container-item-visimisi{
    padding-top: 128px;
}


/* pages about */
.container-about{
    position: relative;
    height: 650px;
    overflow: hidden;
}

.container-about::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(img/guru.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5; /* Atur nilai opacity sesuai kebutuhan */
    z-index: -1; /* Pastikan pseudo-element berada di belakang konten */
}
.container-about .row .col img{
    width: 600px;
    border-radius: 30px;
    margin-top: 64px;
    box-shadow: 0px 0px 5px black;
    align-items: center;
}
.container-about .row .col {
    padding-top: 84px;
}
.container-about .row .col h6{
    display: inline-block;
    background-color: orange;
    padding: 5px;
    font-weight: 500;
    color: #fff;
}
.container-about .row .col p{
    font-weight: 600;
}
/* end pages about */
/* modals */
@media (max-width: 1199px){
    .to-lainnya{
        display: none;
    }
    #xtra-nav{
        display: block;
    }
}

@media (max-width: 991px) {
    .hero{
        display: flex;
        flex-direction: column;
        gap: 32px;
        
    }  
    .btn-ham{
        display: block;
    }
    .to-lainnya{
        display: block;
    }
    #xtra-nav{
        display: none;
    }
    .hero{
        display: flex;
        flex-direction: column;
        gap: 32px;
        
    }  
    .container-hero-visi {
        height: 400px;
        padding-bottom: 79rem;
        background-size: contain;
    }

    .container-hero-visi .container-item-visimisi img{
        width: 27rem;
        
    }
    .container-hero-visi .container-item-visimisi{
        padding-top: 0px;
    }
    .container-hero-visi .container-item-visimisi img{
        width: 100%;
        
    }
    .container-tag .tagline{
        margin-top: 10rem;
    }
            /* pages about*/
            .container-about .row .col img{
                width: 100%;
                border-radius: 30px;
                box-shadow: 0px 0px 5px black;
                
            }
            .container-about .row .col {
                padding-top: 32px;
            }
            .container-about .row {
                padding: 32px 9%;
                display: flex;
                flex-direction: column;
            }
            .container-about{
                padding-bottom: 55rem;
            }

}

@media (max-width:1200px){
    .location{
        margin-top: 16rem;
    }

    iframe{
        width: 100%;
        text-align: center;
    }
}

@media (max-width:991px){
    .btn-ham{
        display: block;
    }
}

@media (max-width:890px){
    .location{
        margin-top: 28rem;
    }

    .container-hero-visi {
        height: 400px;
        padding-bottom: 65rem;
        background-size: contain;
    }

    .container-hero-visi .container-item-visimisi img{
        width: 27rem;
        
    }
    .container-hero-visi .container-item-visimisi{
        padding-top: 0px;
    }
    .container-hero-visi .container-item-visimisi img{
        width: 100%;
        
    }
    iframe{
        width: 100%;
        text-align: center;
    }
    .container-tag .tagline{
        margin-top: 10rem;
    }
        /* pages about*/
        .container-about .row .col img{
            width: 100%;
            border-radius: 30px;
            box-shadow: 0px 0px 5px black;
            
        }
        .container-about .row .col {
            padding-top: 32px;
        }
        .container-about .row {
            padding: 32px 9%;
            display: flex;
            flex-direction: column;
        }
        .container-about{
            padding-bottom: 20rem;
        }

}

@media (max-width:768px){
    
    .offcanvas{
        width: 350px;
    }
    .location{
        margin-top: 50rem;
    }
    .container-hero-visi {
        height: 500px;
        padding-bottom:  60rem;
    }

    .container-hero-visi .container-item-visimisi img{
        width: 100%;
        
    }
    iframe{
        width: 100%;
        text-align: center;
    }

    .container-tag .tagline{
        margin-top: 10rem;
    }
    /* pages about*/
    .container-about .row .col img{
        width: 100%;
        border-radius: 30px;
        box-shadow: 0px 0px 5px black;
        
    }
    .container-about .row .col {
        padding-top: 32px;
    }
    .container-about .row {
        padding: 32px 9%;
        display: flex;
        flex-direction: column;
    }
    .container-about{
        padding-bottom: 10rem;
    }
}

@media (max-width:576px) {
    .container-about::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(img/guru.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        opacity: 0.5; /* Atur nilai opacity sesuai kebutuhan */
        z-index: -1; /* Pastikan pseudo-element berada di belakang konten */
    }
    .container-hero-visi {
        height: 400px;
        padding-bottom: 65rem;
        background-size: contain;
    }

    .container-hero-visi .container-item-visimisi img{
        width: 27rem;
        
    }
    .container-hero-visi .container-item-visimisi{
        padding-top: 0px;
    }
    .container-hero{
        background-image: url(img/bg-landing.jpg);
        background-repeat: no-repeat;
        background-size: contain;
        height: 700px;
    }
    .container-her2{
        background-size: contain;
    }
    .container-tag .tagline{
        margin-top: 1rem;
    }
    .card-xtra .row{
        margin: 5px;
    }
    iframe{
        width: 100%;
        text-align: center;
    }
    .location{
        margin-top: 20rem;
    }
    .footer .footer-item .footer-detail p{
        font-size: 14px;
    }
    .footer .footer-item .footer-detail h5{
        font-size: 14px;
        font-weight: 700;
    }
    .footer .footer-detail{
        background-color: #8080814d;
    }
    .footer{
        display: flex;
        flex-direction: column;
        text-align: left;
            
    }   
    .footer .footer-detail-1 , .footer-detail-2{
        display: none;
    }
    .footer .footer-item .kontak h5{
        text-align: left;
    }
    #footer-xtra p{
        font-size: 12px;
    }
    /* pages about */
    .container-about .row .col img{
        width: 100%;
        border-radius: 30px;
        box-shadow: 0px 0px 5px black;
        
    }
    .container-about .row .col {
        padding-top: 32px;
    }
    .container-about .row {
        padding: 32px 9%;
        display: flex;
        flex-direction: column;
    }
    .container-about{
        padding-bottom: 50rem;
    }
}

/* sejarah */

@media (max-width:480px){
    .location{
        margin-top: 1rem;
    }
    
    .container-hero-visi {
        height: 400px;
        padding-bottom: 50rem;
        background-size: contain;
    }
    .container-hero-visi .container-item-visimisi h1{
        font-size: 20px;
    }
    .container-hero-visi .container-item-visimisi p{
        font-size: 13px;
    }
    .container-hero-visi .container-item-visimisi{
        padding-top: 0px;
    }
    .container-hero-visi .container-item-visimisi img{
        width: 19rem;
        
    }
    iframe{
        width: 100%;
        text-align: center;
    }
    /* media about */
    .container-about .row .col img{
        width: 100%;
        border-radius: 30px;
        box-shadow: 0px 0px 5px black;
        
    }
    .container-about .row .col {
        padding-top: 32px;
    }
    .container-about .row {
        padding: 32px 9%;
        display: flex;
        flex-direction: column;
    }
    .container-about{
        padding-bottom: 50rem;
    }
    /* media about end */

}